{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_articles.css' %}">

  <title>ZONE - Data&nbsp;Science</title>

</head>

<body style="background-color: #2dde98;">

  <nav class="navbar navbar-expand-md navbar-dark fixed-top">

    <div class="container">
      <a href="{% url 'index' %}" class="navbar-brand">
        <img src="{% static 'img/logo.jpg' %}" alt="" style="max-width: 40px;height: auto;">
        &nbsp;
        <span class="font-weight-light small">Break Down The Borders</span>
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="{% url 'index' %}" class="nav-link">Home</a>
        </li>
        <li class="nav-item active">
          <a href="{% url 'datascience' %}" class="nav-link">Data Science</a>
        </li>
      </ul>
    </div>

  </nav>

  <img src="{% static 'img/ds.jpg' %}" class="page-img" alt="">

  <div class="container" style="margin-top: 50px; margin-bottom: 120px;">

    <h1 class="display-4">Data&nbsp;Science</h1>
    <hr>
    <p class="lead">
      Data science is an inter-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from many structural and unstructured data. Data science is related to data mining, machine
      learning and big data.
      <br><br>
      Data science is a "concept to unify statistics, data analysis and their related methods" in order to "understand and analyze actual phenomena" with data. It uses techniques and theories drawn from many fields within the context of
      mathematics, statistics, computer science, domain knowledge and information science. Turing award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational and now data-driven) and asserted
      that "everything about science is changing because of the impact of information technology" and the data deluge.
      <br><br>
    </p>

    <p class="text-title">Foundations</p>
    <hr>
    <p class="text">
      Data science is an interdisciplinary field focused on extracting knowledge from data sets, which are typically large (see big data). The field encompasses analysis, preparing data for analysis, and presenting findings to inform high-level
      decisions in an organization. As such, it incorporates skills from computer science, mathematics, statistics, information visualization, graphic design, complex systems, communication and business. Statistician Nathan Yau, drawing on
      Ben Fry, also links data science to human-computer interaction: users should be able to intuitively control and explore data. In 2015, the American Statistical Association identified database management, statistics and machine
      learning, and distributed and parallel systems as the three emerging foundational professional communities.
      <br><br>
      <span class="text-middletitle">Relationship to statistics</span>
      <br>
      Many statisticians, including Nate Silver, have argued that data science is not a new field, but rather another name for statistics. Others argue that data science is distinct from statistics because it focuses on problems and techniques
      unique to digital data. Vasant Dhar writes that statistics emphasizes quantitative data and description. In contrast, data science deals with quantitative and qualitative data (e.g. images) and emphasizes prediction and action. Andrew
      Gelman of Columbia University and data scientist Vincent Granville have described statistics as a nonessential part of data science. Stanford professor David Donoho writes that data science is not distinguished from statistics by the
      size of datasets or use of computing, and that many graduate programs misleadingly advertise their analytics and statistics training as the essence of a data science program. He describes data science as an applied field growing out of
      traditional statistics. In summary, data science can be therefore described as an applied branch of statistics.
    </p>

    <br>

    <p class="text-title">Etymology</p>
    <hr>
    <p class="text">
      <span class="text-middletitle">Early usage</span>
      <br>
      In 1962, John Tukey described a field he called “data analysis,” which resembles modern data science. Later, attendees at a 1992 statistics symposium at the University of Montpellier II acknowledged the emergence of a new discipline
      focused on data of various origins and forms, combining established concepts and principles of statistics and data analysis with computing.
      <br><br>
      The term “data science” has been traced back to 1974, when Peter Naur proposed it as an alternative name for computer science. In 1996, the International Federation of Classification Societies became the first conference to specifically
      feature data science as a topic. However, the definition was still in flux. In 1997, C.F. Jeff Wu suggested that statistics should be renamed data science. He reasoned that a new name would help statistics shed inaccurate stereotypes,
      such as being synonymous with accounting, or limited to describing data. In 1998, Chikio Hayashi argued for data science as a new, interdisciplinary concept, with three aspects: data design, collection, and analysis.
      <br><br>
      During the 1990s, popular terms for the process of finding patterns in datasets (which were increasingly large) included “knowledge discovery” and “data mining.”
      <br><br>
      <span class="text-middletitle">Modern usage</span>
      <br>
      The modern conception of data science as an independent discipline is sometimes attributed to William S. Cleveland. In a 2001 paper, he advocated an expansion of statistics beyond theory into technical areas; because this would
      significantly change the field, it warranted a new name. "Data science" became more widely used in the next few years: in 2002, the Committee on Data for Science and Technology launched Data Science Journal. In 2003, Columbia University
      launched The Journal of Data Science. In 2014, the American Statistical Association's Section on Statistical Learning and Data Mining changed its name to the Section on Statistical Learning and Data Science, reflecting the ascendant
      popularity of data science.
      <br><br>
      The professional title of “data scientist” has been attributed to DJ Patil and Jeff Hammerbacher in 2008. Though it was used by the National Science Board in their 2005 report, "Long-Lived Digital Data Collections: Enabling Research and
      Education in the 21st Century," it referred broadly to any key role in managing a digital data collection.
      <br><br>
      There is still no consensus on the definition of data science and it is considered by some to be a buzzword.
    </p>

    <br>

    <p class="text-title">Careers in data science</p>
    <hr>
    <p class="text">
      Data science is a growing field. A career as a data scientist is ranked at the third best job in America for 2020 by Glassdoor, and was ranked the number one best job from 2016-2019.
      <br><br>
      <span class="text-middletitle">Educational path</span>
      <br>
      In order to become a data scientist, there is a significant amount of education and experience required. The first step in becoming a data scientist is to earn a bachelor's degree, typically in a quantitative field. Coding bootcamps are also available and can be used as an alternate pre-qualification to supplement a bachelor's degree. Most data scientists also complete a master’s degree or a PhD in a quantitative/scientific field. Once these qualifications are met, the next step to becoming a data scientist is to apply for an entry-level job in the field. Some data scientists may later choose to specialize in a sub-field of data science.
      <br><br>
      <span class="text-middletitle">Specializations and associated careers</span>
      <br>
      <ul class="text">
        <li>Machine Learning Scientist: Machine learning scientists research new methods of data analysis and create algorithms.</li>
        <li>Data Engineer: Data Engineers prepare the “big data” infrastructure to be analyzed by Data Scientists. They are software engineers who design, build, integrate data from various resources, and manage big data.</li>
        <li>Data Analyst: Data analysts utilize large data sets to gather information that meets their company’s needs.</li>
        <li>Data Consultant: Data consultants work with businesses to determine the best usage of the information yielded from data analysis.</li>
        <li>Data Architect: Data architects build data solutions that are optimized for performance and design applications.</li>
        <li>Applications Architect: Applications architects track how applications are used throughout a business and how they interact with users and other applications.</li>
      </ul>
    </p>

    <br>

    <p class="text-title">Impacts of data science</p>
    <hr>
    <p class="text">
      Big data is very quickly becoming a vital tool for businesses and companies of all sizes. The availability and interpretation of big data has altered the business models of old industries and enabled the creation of new ones.
      Data-driven businesses are worth $1.2 trillion collectively in 2020, an increase from $333 billion in the year 2015. Data scientists are responsible for breaking down big data into usable information and creating software and algorithms
      that help companies and organizations determine optimal operations. As big data continues to have a major impact on the world, data science does as well due to the close relationship between the two.
    </p>

    <br>

    <p class="text-title">Technologies and techniques</p>
    <hr>
      <p class="text">
      There are a variety of different technologies and techniques that are used for data science which depend on the application. More recently, full-featured, end-to-end platforms have been developed and heavily used for data science and machine learning.
      <br><br>

    <span class="text-middletitle">Technologies</span>
    <br>
    <ul class="text">
      <li>Linear Regression</li>
      <li>Logistic Regression</li>
      <li>Support Vector Machine (SVM)</li>
      <li>Clustering is a technique used to group data together.</li>
      <li>Dimensionality reduction is used to reduce the complexity of data computation so that it can be performed more quickly.</li>
      <li>Machine learning is a technique used to perform tasks by inferencing patterns from data.</li>
    </ul>
    <br>
    <span class="text-middletitle">Languages</span>
    <br><br>
    <ul class="text">
      <li>Python is a programming language with simple syntax that is commonly used for data science. There are a number of python libraries that are used in data science including numpy, pandas, and scipy.</li>
      <li>R is a programming language that was designed for statisticians and data mining and is optimized for computation.</li>
      <li>Julia is a high-level, high-performance, dynamic programming language well-suited for numerical analysis and computational science.</li>
      <li>Clustering is a technique used to group data together.</li>
      <li>Dimensionality reduction is used to reduce the complexity of data computation so that it can be performed more quickly.</li>
      <li>Machine learning is a technique used to perform tasks by inferencing patterns from data.</li>
    </ul>
    <br>
    <span class="text-middletitle">Frameworks</span>
    <br><br>
    <ul class="text">
      <li>TensorFlow is a framework for creating machine learning models developed by Google.</li>
      <li>Pytorch is another framework for machine learning developed by Facebook.</li>
      <li>Jupyter Notebook is an interactive web interface for Python that allows faster experimentation.</li>
      <li>Apache Hadoop is a software framework that is used to process data over large distributed systems.</li>
    </ul>
    <br>
    <span class="text-middletitle">Visualization Tools</span>
    <br><br>
    <ul class="text">
      <li>Plotly provides a rich set of interactive scientific graphing libraries.</li>
      <li>Tableau makes a variety of software that is used for data visualization.</li>
      <li>PowerBI is a business analytics service by Microsoft.</li>
      <li>Qlik produces software such as QlikView and Qlik Sense used for data visualization and business intelligence.</li>
      <li>AnyChart provides JavaScript libraries and other tools for data visualization in charts and dashboards.</li>
      <li>Google Charts is a JavaScript-based web service made and supported by Google for creating graphical charts.</li>
      <li>Sisense provides a front-end for building data visualizations including dashboards and reports.</li>
      <li>Webix is a UI toolkit that includes dedicated tools for information visualization.</li>
    </ul>
    <br>
    <span class="text-middletitle">Platforms</span>
    <br><br>
    <ul class="text">
      <li>RapidMiner is a data science software platform developed by the company of the same name.</li>
      <li>Dataiku is a collaborative data science software marketed for big data.</li>
      <li>Anaconda provides a comprehensive free and open-source distribution of the Python and R programming languages.</li>
      <li>MATLAB is a computing environment heavily used in industry and academia.</li>
    </ul>
    </p>

  </div>

  <footer class="footer">

    Copyright © 2020
    &nbsp;&nbsp;<span class="vl my-auto"></span>&nbsp;&nbsp;
    ZONE

  </footer>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>